:root {
    font-size: 20px;
    --mint-bg: rgb(184, 239, 212);
    --forest-bg: rgb(25, 78, 52);
    --light-text: rgb(240, 231, 231);
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background-color: var(--mint-bg);
    color: var(--forest-bg);
    font-family: "Fredoka", sans-serif;
}

img {
    max-width: 100%;
}


.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

h1 {
    font-size: 1.6rem;
}

header,
main,
section,
footer {
    width: 100%;
    padding: 1em;
}

.header {
    justify-content: start;
    gap: 0.5em;
}

h2 {
    font-size: 1.4rem;
}

.logo {
    width: 50px;
    aspect-ratio: 1/1;
}

.attribution {
    font-size: 0.6rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;

}

li {
    margin-left: 1em;
}

li a {
    color: inherit;
}

a {
    text-underline-offset: 3px;
    color: inherit;
    padding: 0.2em;
}

a:hover,
a:focus {
    background-color: var(--forest-bg);
    color: var(--mint-bg);
}

.container {
    background-color: var(--forest-bg);
    color: var(--mint-bg);
    padding: .2em;
    border-radius: 10px;
    /* display: flex;
    flex-direction: column;
    gap: 10px; */
}

.container a {
    color: inherit;
}

.container a:hover,
.container a:focus {
    background-color: var(--mint-bg);
    color: var(--forest-bg);
}

.inner {
    border-radius: 8px;
    border: 1px solid var(--mint-bg);
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-gardens {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    /* gap: 5em; */
}

#home h2 {
    margin: 0;
}

@media (min-width: 700px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header,
    main,
    section,
    footer {
        width: 100%;
        padding: 1.4em;
    }

    .header,
    .nav ul {
        justify-content: end;
    }

    .plant-img {
        margin-top: 3em;
    }

    #home h2 {
        margin: 4em 0 0;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    } 

    .about-gardens p {
        margin-bottom: 4em;
    }
}